[connection: test-imap]
  protocol = IMAP
  domain = 127.0.0.1
  ssl = False
  port = 143
  login = testuser
  password = applesauce

[connection: test-imap-ssl]
  protocol = IMAP
  domain = 127.0.0.1
  ssl = True
  port = 993
  login = testuser
  password = applesauce

[connection: test-pop]
  protocol = POP
  domain = 127.0.0.1
  ssl = False
  port = 110
  login = testuser
  password = applesauce

[connection: test-pop-ssl]
  protocol = POP
  domain = 127.0.0.1
  ssl = True
  port = 995
  login = testuser
  password = applesauce

[connection: test-smtp]
  protocol = SMTP
  domain = 127.0.0.1
  ssl = True
  port = 587
  login = testuser
  password = applesauce

[filter: facebook-notification]
  connections = test-imap
  condition = from_address:~>@facebookmail.com and from_address:~<notification
  actions = mark:read
